#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.base{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(59, 58, 58);
  width: 300px;
  height: 480px;
  border-radius: 8px;
  border: 1px solid rgb(110, 110, 110);
  box-shadow: 6px 6px 6px rgba(235, 235, 235, 0.2);
  transition: 0.4s ease-in-out;
  transform: scale(0.995);
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.base:hover{
  transform: scale(1);
  transition: 0.4s ease-in;
  background-color: rgb(61, 61, 61);
  box-shadow: 6px 6px 6px rgba(146, 146, 146, 0.2); 
}

.Tlf{
  height: 40%;
  width: 60%;
  border-radius: 12px;
  transform: scale(0.98);
  transition: 0.2s ease-in;
}

.Tlf:hover{
  transform: scale(1);
  transition: 0.2s ease-in-out;
  border: 1px solid rgb(44, 44, 44);
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(219, 219, 219, 0.2); 
}